#bulbbox{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
}

.bulb{
    margin: 50px;
    height: 150px;
    width: 150px;
    border: 1px solid gray;
    border-radius: 50%;
}

.bulbon{
    background: radial-gradient(rgb(255, 244, 158), rgb(255, 255, 106), rgb(255, 247, 95));
    box-shadow: 0px 0px 100px yellow;
}

.Bulbbtn{
    margin: 50px;
}

.Bulbbtn{
    background-color: rgb(255, 0, 0);
    color: white;
    padding: 10px 30px;
    border: none;
    border-radius: 10px;
    font-weight: 900;
    font-size: 22px;
}